:root {
  --body-background-color: white;
  --body-text-color: black;

  --header-background-color: white;
  --header-text-color: black;

  --link-text-color: inherit;
  --link-text-decoration: underline;
  --dog-color: white;
}

body {
  background-color: var(--body-background-color);
  color: var(--body-text-color);
}

a {
  color: var(--link-text-color);
}
a:visited {
  text-decoration-color: var(--link-visited-underline-color);
}
a:active,
a:hover {
  text-decoration-color: var(--link-hover-underline-color);
}
