:host {
  width: var(--measure-readable-max);
  margin: 0 auto var(--space-m);
  background: #eee;

  display: flex;

  figure {
    margin: var(--space-s);

    figcaption {
      font-size: var(--step--3);
      a {
        text-decoration: none;
      }
    }
  }

  .author-bio {
    font-size: var(--step--2);
  }
}
