:host {
  width: var(--measure-reading-width);

  padding-block: var(--measure-gutter);
  padding-inline: var(--measure-gutter);
  margin-block: var(--space-m);

  /* background: #eee; */

  display: flex;

  .creator-bio {
    font-size: var(--step--2);
  }
}
