:host {
  width: 100%;

  padding-block: var(--measure-gap-viewport);
  margin-block: var(--space-m);

  padding-inline: var(--measure-gap-viewport);

  background: #eee;

  display: flex;
  gap: var(--measure-gap-viewport);

  .creator-bio {
    font-size: var(--step--2);
  }
}
