.posts-stack {
  display: grid;
  gap: var(--measure-gap-posts);
  place-items: center;
}

.posts-stack > article {
  width: var(--measure-width-content);
  padding-inline: var(--measure-gap-viewport);

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.posts-stack > article > h1 {
  font-size: var(--type-title-size-small);
}

.posts-stack > article > datetime {
  display: block;
  font-size: var(--type-datetime-size);

  a:link {
    color: var(--color-datetime);
    text-decoration-color: var(--color-datetime-decoration);
  }
  a:visited {
    color: var(--color-datetime);
    text-decoration-color: var(--color-datetime-decoration);
  }
}

.posts-stack > article > blockquote {
  font-style: italic;
  margin-inline-start: var(--measure-gap-viewport);
}
