:host {
  width: var(--measure-width-content);
  padding-inline: var(--measure-gap-viewport);
  margin-inline: auto;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  /* background: #eee; */
  > h1 {
    font-size: var(--type-title-size-big);
  }

  > datetime {
    display: block;
    font-size: var(--type-datetime-size);
    color: var(--color-datetime);
  }
}
