:host {
  width: var(--measure-readable-max);
  padding-inline: var(--space-xs);
  margin-inline: auto;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  > h1 {
    font-size: var(--step-1);
    font-weight: var(--type-weight-heading);
    line-height: var(--line-height-heading);
  }

  > datetime {
    display: block;
    font-size: var(--step--2);
    color: #999;
  }
}
