/* body > header { */
:host {
  padding-block: var(--measure-gutter) var(--space-m);
  padding-inline: var(--measure-gutter);

  /* padding-block-start: var(--measure-gutter);
  margin-block-end: var(--space-m); */

  /* color: var(--color-text-header); */
  /* background-color: var(--color-background-header); */

  /* display: grid;
  grid-template:
    "site-name site-nav"
    / 1fr min(15rem, 100%); */

  /* grid-template:
    "header  header"
    "sidebar main"   1fr
    "footer  footer" min-content
    / 250px   1fr; */

  gap: var(--measure-gutter);

  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  justify-content: space-between;

  align-items: baseline;
}

:host > #site-name {
  /* flex: 1 1 auto; */
  /* background: #f99; */

  /* color: var(--color-site-name); */

  font-family: var(--type-family-site-name);
  font-size: var(--type-size-site-name);
  font-weight: var(--type-weight-site-name);
  line-height: var(--type-line-height-site-name);

  /* a:link {
    color: var(--color-site-name);
    text-decoration-color: transparent;
  }
  a:hover {
    color: var(--color-site-name);
    text-decoration-color: var(--color-site-name-hover);
  } */
}

:host > nav {
  /* flex-grow: 0;
  flex: 0 1 auto; */

  padding-inline-end: var(--measure-gutter);
  font-size: var(--step--1);

  /* font-weight: var(--type-weight);
  line-height: var(--type-line-height); */

  /* background: #9f9; */

  display: flex;
  gap: var(--space-s);
  flex-wrap: wrap;
  justify-content: center;
}

/* .site-logo {
    padding: 0 var(--space-s);
    svg {
      display: block;
      width: var(--space-l);
      height: auto;
      margin: 0 auto;
    }
  } */
