:host {
  padding-inline: var(--measure-gap-viewport);
  padding-block-start: var(--measure-gap-footer);
  padding-block-end: var(--measure-gap-viewport);
  /* background: #eef; */
  > span {
    font-size: var(--step--1);
  }
}
