/* body > header { */
:host {
  padding-inline: var(--measure-gap-viewport);
  padding-block-start: var(--measure-gap-viewport);
  padding-block-end: var(--measure-gap-header);

  /* color: var(--color-text-header); */
  /* background-color: var(--color-background-header); */

  /* display: grid; */
  /* grid-template:
    "site-title site-nav"
    / 1fr min(15rem, 100%);  */

  /* grid-template:
    "header  header"
    "sidebar main"   1fr
    "footer  footer" min-content
    / 250px   1fr; 
*/

  gap: var(--measure-gap-viewport);

  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
  justify-content: space-between;

  align-items: baseline;
}

:host > #site-title {
  /* flex: 1 1 auto; */
  /* background: #f99; */

  color: var(--color-site-title);

  font-family: var(--type-site-title-family);
  font-size: var(--type-site-title-size);
  font-weight: var(--type-site-title-weight);
  line-height: var(--type-site-title-line-height);

  a:link {
    color: var(--color-site-title);
    text-decoration-color: transparent;
  }
  a:hover {
    color: var(--color-site-title);
    text-decoration-color: var(--color-site-title-hover);
  }
}

:host > nav {
  /* flex-grow: 0;
  flex: 0 1 auto; */

  padding-inline-end: var(--measure-gap-viewport);
  font-size: var(--type-nav-size);

  /* font-weight: var(--type-weight);
  line-height: var(--type-line-height); */

  /* background: #9f9; */

  display: flex;
  gap: var(--measure-gap-viewport);
  flex-wrap: wrap;
  justify-content: center;
}

/* .site-logo {
    padding: 0 var(--space-s);
    svg {
      display: block;
      width: var(--space-l);
      height: auto;
      margin: 0 auto;
    }
  } */
