/* body > header { */
:host {
  padding-inline-start: var(--space-xs);
  padding-inline-end: var(--space-xs);

  display: flex;
  gap: var(--measure-page-gutter);
  flex-direction: row;
  flex-wrap: wrap;

  align-items: baseline;

  > #site-name {
    flex: 1 1 auto;
    margin-inline-end: var(--measure-page-gutter);
  }

  > nav {
    flex-grow: 0;
    flex: 0 1 auto;
  }

  nav {
    display: flex;
    gap: var(--space-s);
    flex-wrap: wrap;

    font-size: var(--step--1);
    font-weight: var(--type-weight);
    line-height: var(--type-line-height);
    /* line-height: 1.2; */

    a {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  > #site-name {
    color: var(--color-site-name);

    font-family: var(--type-family-site-name);
    font-size: var(--type-size-site-name);
    font-weight: var(--type-weight-site-name);
    line-height: var(--type-line-height-site-name);

    a:link {
      color: var(--color-site-name);
      text-decoration-color: transparent;
    }
    a:hover {
      color: var(--color-site-name);
      text-decoration-color: var(--color-site-name-hover);
    }
  }

  /* .site-logo {
    padding: 0 var(--space-s);
    svg {
      display: block;
      width: var(--space-l);
      height: auto;
      margin: 0 auto;
    }
  } */
}
