.author-profile {
  width: var(--width-readable);
  margin: 0 auto var(--space-m);

  display: flex;
  background: #eee;

  figure.author-photo {
    margin: var(--space-s);

    figcaption {
      font-size: var(--step--3);
      a {
        text-decoration: none;
      }
    }
  }
  .author-bio {
    font-size: var(--step--2);
  }
}
