body > header .site-logo {
  padding: 0 var(--space-s);
}
body > header .site-logo svg {
  display: block;
  width: var(--space-l);
  height: auto;
  margin: 0 auto;
}
body > header.page-home .site-logo svg {
  width: var(--space-2xl);
}
body > header > #site-name {
  width: fit-content;
}
body > header.page-home > #site-name {
  width: min-content;
}
