body {
  background-color: var(--color-background);
  color: var(--color-text);
}
header {
  /* background-color: #9c9; */
}
main {
  /* background-color: #ccc; */
}
footer {
  /* background-color: #99c; */
}

/* a, */
a:link {
  color: var(--color-link);
  text-decoration-color: var(--color-link);
}
a:visited {
  color: var(--color-link-visited);
  text-decoration-color: var(--color-link-visited);
}
a:active {
  color: var(--color-link-active);
  text-decoration-color: var(--color-link-active);
}
a:hover {
  color: var(--color-link-hover);
  text-decoration-color: var(--color-link-hover);
}
