body {
  background-color: var(--color-background-default);
  color: var(--color-text-default);
}
header {
  /* background-color: #9c9; */
}
main {
  /* background-color: #ccc; */
}
footer {
  /* background-color: #99c; */
}

/* a, */
a:link {
  color: var(--color-link-text);
  text-decoration-color: var(--color-link-decoration);
}
a:visited {
  color: var(--color-link-text-visited);
  text-decoration-color: var(--color-link-decoration-visited);
}
a:active {
  color: var(--color-link-text-active);
  text-decoration-color: var(--color-link-decoration-active);
}
a:hover {
  color: var(--color-link-text-hover);
  text-decoration-color: var(--color-link-decoration-hover);
}
