body {
  background-color: var(--color-background);
  color: var(--color-text);
}
body {
  background-color: Canvas;
  color: CanvasText;
  color-scheme: light dark;
}
/* body > header {
  background-color: var(--header-color-background);
  color: var(--header-color-text);
}
body > main {
  background-color: var(--main-color-background);
  color: var(--main-color-text);
}
body > footer {
  background-color: var(--footer-color-background);
  color: var(--footer-color-text);
} */

/* a:link {
  color: var(--color-link);
  text-decoration-color: var(--color-link);
}
a:visited {
  color: var(--color-link-visited);
  text-decoration-color: var(--color-link-visited);
}
a:active {
  color: var(--color-link-active);
  text-decoration-color: var(--color-link-active);
}
a:hover {
  color: var(--color-link-hover);
  text-decoration-color: var(--color-link-hover);
} */
