body {
  min-height: 100vh;

  display: grid;
  place-items: center;
  gap: var(--space-m);

  header,
  main,
  footer {
    width: var(--width-readable);
  }

  header {
    margin-top: var(--space-xs);
  }

  footer {
    margin-bottom: var(--space-l);
  }
}
