body {
  display: grid;

  grid-template:
    "header" auto
    "main" 1fr
    "footer" auto;

  place-items: start center;
  min-height: 100vh;

  header {
    grid-area: header;
    width: var(--measure-reading-width);
    /* width: var(--measure-full-width); */
  }

  main {
    grid-area: main;

    width: var(--measure-full-width);

    /* padding-block: calc(var(--space-m) / 2); */

    display: grid;
    place-items: center;
  }

  footer {
    /* background: blue; */
    grid-area: footer;
    width: var(--measure-reading-width);
    /* width: var(--measure-full-width); */
  }
}
