body {
  display: grid;
  place-items: start center;

  grid-template:
    "header" auto
    "main" 1fr
    "footer" auto;

  min-height: 100vh;
}

body > header {
  grid-area: header;
}

body > main {
  grid-area: main;
}

body > footer {
  grid-area: footer;
}

/* body > header, */

body > header {
  width: 100%;
}

body > footer {
  width: var(--measure-width-content);
}

body > main {
  display: grid;
  place-items: center;
}
