body {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--body-weight-normal);
  line-height: var(--body-line-height);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
  text-wrap: pretty;
}

button,
input,
label {
  line-height: var(--body-line-height);
}

input,
button,
textarea,
select {
  font: inherit;
}
