body {
  font-family: var(--type-family-default);
  font-size: var(--type-size-default);
  font-weight: var(--type-weight-default);

  line-height: var(--line-height-default);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
  text-wrap: pretty;
}
