html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--body-weight-normal);
  line-height: var(--body-line-height);
}

body > footer {
  > span {
    font-size: var(--step--1);
  }
}

/* forms */

button,
input,
label {
  line-height: var(--body-line-height);
}

input,
button,
textarea,
select {
  font: inherit;
}
