@font-face {
    font-family: Rosario;
    src: url("/fonts/Rosario-VariableFont_wght.ttf") format("woff2");
    text-rendering: optimizeLegibility;
    font-display: swap;
}
@font-face {
    font-family: Rosario;
    font-style: italic;
    src: url("/fonts/Rosario-Italic-VariableFont_wght.ttf") format("woff2");
    text-rendering: optimizeLegibility;
    font-display: swap;
}
@font-face {
    font-family: OpenSans;
    src: url("/fonts/OpenSans-VariableFont_wdth,wght.ttf") format("woff2");
    text-rendering: optimizeLegibility;
    font-display: swap;
}
@font-face {
    font-family: FiraSans;
    font-weight: 400;
    src: url("/fonts/FiraSans-Regular.ttf") format("woff2");
    text-rendering: optimizeLegibility;
    font-display: swap;
}
@font-face {
    font-family: FiraSans;
    font-weight: 500;
    src: url("/fonts/FiraSans-Medium.ttf") format("woff2");
    text-rendering: optimizeLegibility;
    font-display: swap;
}
@font-face {
    font-family: FiraSans;
    font-weight: 600;
    src: url("/fonts/FiraSans-SemiBold.ttf") format("woff2");
    text-rendering: optimizeLegibility;
    font-display: swap;
}
@font-face {
    font-family: FiraSans;
    font-weight: 700;
    src: url("/fonts/FiraSans-Bold.ttf") format("woff2");
    text-rendering: optimizeLegibility;
    font-display: swap;
}
@font-face {
    font-family: FiraSans;
    font-weight: 800;
    src: url("/fonts/FiraSans-ExtraBold.ttf") format("woff2");
    text-rendering: optimizeLegibility;
    font-display: swap;
}
@font-face {
    font-family: FiraSans;
    font-weight: 900;
    src: url("/fonts/FiraSans-Black.ttf") format("woff2");
    text-rendering: optimizeLegibility;
    font-display: swap;
}

/*
@font-face {
    src: url("/fonts/") format("woff2");
    text-rendering: optimizeLegibility;
    font-display: swap;
}
*/

/*
OpenSans-Italic-VariableFont_wdth,wght.ttf

FiraSans-Thin.ttf
FiraSans-ExtraLight.ttf
FiraSans-Light.ttf


FiraSans-ThinItalic.ttf
FiraSans-ExtraLightItalic.ttf
FiraSans-LightItalic.ttf
FiraSans-Italic.ttf
FiraSans-MediumItalic.ttf
FiraSans-SemiBoldItalic.ttf
FiraSans-BoldItalic.ttf
FiraSans-ExtraBoldItalic.ttf
FiraSans-BlackItalic.ttf
*/
