--font-weight-thin: 100;
--font-weight-extra-light: 200;
--font-weight-light: 300;
--font-weight-normal: 400;
--font-weight-medium: 500;
--font-weight-semi-bold: 600;
--font-weight-bold: 700;
--font-weight-extra-bold: 800;
--font-weight-black: 900;
/*
@font-face {
  font-family: OpenSans;
  src: url("/fonts/OpenSans-VariableFont_wdth,wght.ttf") format("woff2");
  text-rendering: optimizeLegibility;
  font-display: swap;
}
@font-face {
  font-family: FiraSans;
  font-weight: 400;
  src: url("/fonts/FiraSans-Regular.ttf") format("woff2");
  text-rendering: optimizeLegibility;
  font-display: swap;
}
@font-face {
  font-family: FiraSans;
  font-weight: 500;
  src: url("/fonts/FiraSans-Medium.ttf") format("woff2");
  text-rendering: optimizeLegibility;
  font-display: swap;
}
@font-face {
  font-family: FiraSans;
  font-weight: 600;
  src: url("/fonts/FiraSans-SemiBold.ttf") format("woff2");
  text-rendering: optimizeLegibility;
  font-display: swap;
}
@font-face {
  font-family: FiraSans;
  font-weight: 700;
  src: url("/fonts/FiraSans-Bold.ttf") format("woff2");
  text-rendering: optimizeLegibility;
  font-display: swap;
}
@font-face {
  font-family: FiraSans;
  font-weight: 800;
  src: url("/fonts/FiraSans-ExtraBold.ttf") format("woff2");
  text-rendering: optimizeLegibility;
  font-display: swap;
}
@font-face {
  font-family: FiraSans;
  font-weight: 900;
  src: url("/fonts/FiraSans-Black.ttf") format("woff2");
  text-rendering: optimizeLegibility;
  font-display: swap;
}
*/

/*
@font-face {
    src: url("/fonts/") format("woff2");
    text-rendering: optimizeLegibility;
    font-display: swap;
}
*/
