:root {
  --color-background-default: white;
  --color-text-default: black;

  --color-header-background: white;
  --color-header-text: black;

  --color-link-text: gold;
  --color-link-text-visited: var(--color-text-default);
  --color-link-text-active: red;
  --color-link-text-hover: red;

  --color-link-decoration: gold;
  --color-link-decoration-visited: #999;
  --color-link-decoration-active: red;
  --color-link-decoration-hover: red;

  --color-dog: white;
}
