:root {
  --measure-readable-line-length: 42ch;
  --measure-full-width: 100vw;

  --measure-reading-width: min(
    var(--measure-readable-line-length),
    var(--measure-full-width)
  );

  --measure-gutter: var(--space-xs);
}
