:root {
  --measure-text-line-length: 42ch;

  --measure-full-width: 100%;

  --measure-readable-max: min(
    var(--measure-text-line-length),
    var(--measure-full-width)
  );

  --measure-page-gutter: var(--space-xs);
}
