:root {
  --measure-line-length: 42ch;
  --measure-width-full: 100vw;

  --measure-width-content: min(
    var(--measure-line-length),
    var(--measure-width-full)
  );

  --measure-gap-viewport: var(--space-xs);
  --measure-gap-header: var(--space-l);
  --measure-gap-posts: var(--space-l);
  --measure-gap-footer: var(--space-xl);
  --measure-gap-content: var(--space-xs);
}
