:root {
  --color-primary: red;

  --color-text: black;
  --color-background: #cfc;
  --color-background: #fffaee;

  --color-text-dimmed: #666;

  --header-color-text: inherit;
  --header-color-background: transparent;

  --main-color-text: inherit;
  --main-color-background: transparent;

  --footer-color-text: inherit;
  --footer-color-background: #eef;

  --color-link: red;
  --color-link-visited: var(--color-text);
  --color-link-active: gold;
  --color-link-hover: gold;

  --color-site-name: var(--color-text);
  --color-site-name-hover: var(--color-link-hover);

  --color-datetime: #999;
  --color-datetime-decoration: transparent;

  --color-dog: #ca6c17;
}
