:root {
  --type-family: rosario;
  --type-size: var(--step-0);
  --type-weight: var(--font-weight-normal);
  --type-line-height: 1.5;

  --type-family-heading: var(--type-family);
  --type-weight-heading: var(--font-weight-semi-bold);
  --type-line-height-heading: 1.3;

  --type-family-site-name: var(--type-family);
  --type-size-site-name: var(--step-2);
  --type-weight-site-name: var(--font-weight-bold);
  --type-line-height-site-name: 1.2;

  --type-size-datetime: var(--step--2);
}
